* {	
    box-sizing: border-box;	
}

.col-1{width: 5%;}.col-2{width: 10%;}.col-3{width: 15%;}.col-4{width: 20%;}.col-5{width:25%;}.col-6{width: 30%;}.col-7{width: 35%;}.col-8{width: 40%;}.col-9{width:45%;}.col-10{width: 50%;}.col-11{width: 55%;}.col-12{width: 60%;}.col-13{width:65%;}.col-14{width: 70%;}.col-15{width: 75%;}.col-16{width: 80%;}.col-17{width:85%;}.col-18{width: 90%;}.col-19{width: 95%;}.col-20{width: 100%;}

[class*="col-"]{	
	border: none;
    float: left;
    padding: 5px;
    border: none;
}

.row::after{	
    content: "";
    clear: both;
    display: table;	
}

body{	
	overflow: hidden;
	padding: 0;
	margin: 0;
}
.transp{
	height: 100vh;
	width: 100vh;
	margin: 0em;
	padding: 0em;	
	position: fixed;
	height: 100vh;	
	width: 100%;;
	z-index: -1;
	background: -webkit-linear-gradient(0deg, #000000, #d9d9d9);
	background: -moz-linear-gradient(0deg, #000000, #d9d9d9);
	background: -o-linear-gradient(0deg, #000000, #d9d9d9);
	background: linear-gradient(90deg, #090909, #081c24);
}
.header{
	align-content: center;
	align-items: center;
	align-self: center;
	position: relative;	
	max-height: 8vh;
	width: 100vh;
	border: none;	
	margin: 0;	
	padding: 0;
	background: -webkit-linear-gradient(0deg, #01d277, #081c24);
	background: -moz-linear-gradient(0deg, #ffffff, #081c24);
	background: -o-linear-gradient(0deg, #ffffff, #081c24);
	background: linear-gradient(90deg, #ffffff, #081c24);
	width: 100%;
	/*
	
	background: linear-gradient(90deg, #01d277, #081c24);
	*/
}
.title{	
	float:left;
	padding: 0;
	margin: 0em 0.5em  0em 4em;
	width: auto;
	display: block;
	color:#081c24;
	font-size: 1.em;
	font-family: fantasy;
}
#logo_img{
	width: 2.5em;
	border: none;
}
#logo_img:hover{
   opacity: 0.4;	
   cursor:pointer;	
}
.boton{		
	text-align: center;
	display: block;
	margin: 0%;
	padding: 0%;	
	color:white;
}
#ant{
	font-size: 2em;
	float: left;
	margin: 1em;
	text-shadow: 1em;
}
#sig{
	font-size: 2em;
	float: left;
	margin: 1em;
}
#ant:hover{
	opacity: 0.7;
	cursor: pointer;
}
#sig:hover{
	opacity: 0.7;
	cursor: pointer;	
}
#contenedor2{
	position: relative;
	float: left;
	display: block;
	margin: 2.5em;
	padding: 0em;
}
#pic {
	position: relative;
	width: 100%;
	max-width: 34em;
	padding: 0em;	
	display: block;		
	border: solid gold;
}
#smallpics{
	display: block;
	float: left;
	width: auto;
	position:fixed;
	width: 100%;
	z-index: -2;	
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	opacity: 0.25;
	
}
.sp{		
	padding: 0;
	margin: 0;	
}
#contenedor3{	
	position: relative;
	float: left;
	display: block;
	font-size-adjust: auto;		
	overflow:hidden;	
    padding: 0;
	margin: 1em;    
    text-align: left;	
	font-size: 1em;
	font-size-adjust: auto;
	font-family:sans-serif;
	color: white;
}
#titulo{
	padding: 0 0 0 0;
	float: left;
	display: inline-block;
	width: auto;
}
#varios{
	padding: 0em;
	margin: 0em;
	display: inline-block;	
	width: auto;
	text-align: left;		
	font-size: 1em;
	font-size-adjust: auto;
	font-family:sans-serif;
	color: white;
}
#genero{
	margin: 2em;
}

#fecha{
	text-align: left;
	margin: 2em 2em 0em 2em;
}
#valoracion{	
	font-size: 1em;
	text-align: left;		
	margin: 2em;
}
#sinopsis{
	width: auto;	
	text-align: justify;
	margin: 0em;
	display:inline-block;
	font-size-adjust: auto;
}

#info{
	position: relative;
	display: block;
	text-align: left;
}

.footer{	
	position: fixed;
	top: 93vh;
	display: inline-block;	
	width: 100%;
	height: 10vh;
	margin: 0
	padding: 0;
	background-color: #081c24;
	color: white;
	font-size: 0.9em;	
	z-index: -1;
}

.footer_text{
	margin: -0.1% 1% -0.2% 1%;
	padding: 0% 0% 0% 0%;
}

@media only screen and (max-width: 850px){
	#varios{
		display: block;
		float: left;
	}
}

/*Ajuste tamaño letra para pantallas panorámicas pequeñas*/
@media only screen and (max-width: 800px){
	#contenedor3{		
		margin: 0 0 0 0;
		padding: 0 0 0 0;;		
		display:inline-block;
		font-size: 0.9em;
		float: none;
		width: auto;
	}
}

/*Ajuste tamaño letra para pantallas panorámicas pequeñas*/
@media only screen and (max-width: 650px){
	#contenedor3{		
	font-size: 0.9em;
	}
	.title{
		margin: 0;
	}
	.header{
		font-size: .7em;
		width: 100%;
	}

	
	
}

/*Cambio de formato a pantalla movil*/
@media only screen and (max-width: 415px){
	#contenedor3{		
		font-size: 0.7em;
	}
	.header{
		font-size: .55em;
		width: 100%;
	}
	.footer{
		font-size: 0.5em
	}
}

@media only screen and (max-width: 375px){
	#contenedor3{		
		font-size: 0.6em;
	}
	.header{
		font-size: .45em;
		width: 100%;
	}
	.footer{
		font-size: 0.4em
	}	
}
	